/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== ScrollMagic Class ==============================================
   Author: Petr Tichy - ihatetomatoes.net
   ========================================================================== */

@font-face {
  font-family: 'Okomito-Regular';
  src: url('../fonts/Okomito-Regular.eot');
  src: url('../fonts/Okomito-Regular.woff2') format('woff2'),
       url('../fonts/Okomito-Regular.woff') format('woff'),
       url('../fonts/Okomito-Regular.ttf') format('truetype'),
       url('../fonts/Okomito-Regular.svg#Okomito-Regular') format('svg'),
       url('../fonts/Okomito-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Okomito-Medium';
  src: url('../fonts/Okomito-Medium.eot');
  src: url('../fonts/Okomito-Medium.woff2') format('woff2'),
       url('../fonts/Okomito-Medium.woff') format('woff'),
       url('../fonts/Okomito-Medium.ttf') format('truetype'),
       url('../fonts/Okomito-Medium.svg#Okomito-Medium') format('svg'),
       url('../fonts/Okomito-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Okomito-Bold';
  src: url('../fonts/Okomito-Bold.eot');
  src: url('../fonts/Okomito-Bold.woff2') format('woff2'),
       url('../fonts/Okomito-Bold.woff') format('woff'),
       url('../fonts/Okomito-Bold.ttf') format('truetype'),
       url('../fonts/Okomito-Bold.svg#Okomito-Bold') format('svg'),
       url('../fonts/Okomito-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font: 16px/1.5 'Okomito-Regular', Helvetica, Helvetica Neue, Arial, sans-serif; 
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
  height: 100%
}

/* ===== logo ===== */

.logo {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.logo span {
  display: block;
  margin-top: 5px;
  color: #9b9b9b;
  font-style: italic;
  font-size: 20px;
}

.logo-iht {
  height: 69px;
}

/* ===== slides ===== */

.slide {
  height: 100vh;
  text-align: center;
  visibility: hidden;
}
.slide.active {
  visibility: visible;
}

.primary, 
.secondary {
  height: 50%;
  position: relative;
  color: #fff;
}

.bcg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: #FFF;
}

/* ===== Navigation ===== */

.nav-container {
  display: none;
}

/* ===== slides styles ===== */

.primary {
  color: #fc866c;
}
.number {
  font-size: 80px;
  font-family: "Okomito-Bold";
  line-height: 80px;
  margin: 0;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.title {
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 20px;
}

.title strong {
  font-family: "Okomito-Bold";
}

.title em {
  font-family: "Okomito-Medium";
  font-style: normal;
}
.fade-txt {
  display: block;
}

#slide09 .number {
  font-size: 40px;
  line-height: 40px;
}

/* ===== color variations ===== */

#slide01 {background: linear-gradient(to right, #FC866E 0%,#FC866E 37%,#fd746c 100%);}
#slide02 {background: linear-gradient(to right, #6C45BB 0%,#6C45BB 37%,#c86dd7 100%);}
#slide02 .primary {
    color: #6C45BB;
}
#slide03 {background: linear-gradient(to right, #2D5978 0%, #2D5978 37%,#2c3e50 100%);}
#slide03 .primary {
    color: #2D5978;
}
#slide04 {background: linear-gradient(to right, #B33259 0%, #B33259 37%,#8A4185 100%);}
#slide04 .primary {
    color:#B33259;
}
#slide05 {background: linear-gradient(to right, #71B26C 0%, #71B26C 37%,#C6C557 100%);}
#slide05 .primary {
    color:#71B26C;
}
#slide06 {background: linear-gradient(to right, #AE87AC 0%, #AE87AC 37%,#72B6D6 100%);}
#slide06 .primary {
    color:#AE87AC;
}
#slide07 {background: linear-gradient(to right, #E7395C 0%, #E7395C 37%,#F74C42 100%);}
#slide07 .primary {
    color:#E7395C;
}
#slide08 {background: linear-gradient(to right, #246C9D 0%, #246C9D 37%,#30B5C0 100%);}
#slide08 .primary {
    color:#246C9D;
}
#slide09 {background: linear-gradient(to right, #E7395C 0%, #E7395C 37%,#F74C42 100%);}
#slide09 .primary{
    color:#E7395C;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
    .number {
      font-size: 120px;
      line-height: 120px;
    }
    #slide01 .number {
      font-size: 140px;
    }
    .title,
    #slide09 .number {
      font-size: 60px;
      line-height: 60px;
    }
}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 1025px){
  /* ===== logo ===== */
  .logo-container {
    width: 37%;
    position: absolute;
    top: 40%;
    left: 0;
    margin-top: -255px;
    background: #f9423a;
  }
  .logo {
    right: 7%;
    left: auto;
  }
  .logo-iht {
    height: 124px;

  }
  /* ===== Navigation ===== */

.nav-container {
  position: absolute;
  top: 40%;
  margin-top: 270px;
  width: 37%;
  z-index: 20;
  display: block;
}
nav {
  position: absolute;
  right: 7%;
  width: 240px;
  height: 24px;
  display: block;
}
.nav-items {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 6px;
}
.nav-items li {
  width: 12px;
  height: 12px;
  float: left;
  margin-right: 14px;
  border-radius: 100%;
  position: relative;
  left: 6px;
  overflow: hidden;

}
.nav-items a {
  display: block;
  text-indent: -9999em;
  width: 100%;
  height: 100%;
  transition: background .3s linear;
  background: rgba(0, 0, 0, 0.1);
}
.nav-items .active a {
  background: #fc866e;
}
.nav-active {
  width: 22px;
  height: 22px;
  border: 1px #fc866e solid;
  border-radius: 100%;
  transition: border-color .3s linear;

}

  /* ===== Fake height ===== */

.fake-height {
  height: 900%; /*this is for the 9 slides, 9 times the viewport height and controls duration of scrolling*/
}
#main {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.pin-wrapper {
  bottom: 0 !important; /*this is overwriting scrollmagic's default*/
}

.nav-trigger {
  z-index: 100;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 50px;
  height: 10px;
  background: green;
}

  /* ===== slides styles ===== */
  .slide {
    height: auto;
    text-align: inherit;
  }
  .secondary, .primary {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
    overflow: hidden;
  }
  .bcg {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    opacity: 1;

  }
  .primary {
    width: 37%;
  }
  .secondary {
    width: 63%;
    left: auto;
    right: 0;
  }

  .bcg-color, 
  .bcg-white {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .bcg-white {
    z-index: 2;
    background: #fff;
    transform: scaleX(0);
    transform-origin: 100% 50%;
  }

  .number {
    position: absolute;
    top: 40%;
    left: auto;
    right: 5%;
  }
  .title {
    position: absolute;
    top: 40%;
    left: 5%;

  }

/* ===== color variations ===== */  
  #slide01 .bcg-color {
        background: linear-gradient(to right, #FC866E 0%,#FC866E 37%,#fd746c 100%);
    }
    #slide01 .primary {
        color: #FC866E;
    }
    #slide02 .bcg-color {
        background: linear-gradient(to right, #6C45BB 0%,#6C45BB 37%,#c86dd7 100%);
    }
    #slide02 .primary {
        color: #6C45BB;
    }
    #slide03 .bcg-color {
        background: linear-gradient(to right, #2D5978 0%, #2D5978 37%,#2c3e50 100%);
    }
    #slide03 .primary {
        color: #2D5978;
    }
    #slide04 .bcg-color {
        background: linear-gradient(to right, #B33259 0%, #B33259 37%,#8A4185 100%);
    }
    #slide04 .primary {
        color:#B33259;
    }
    #slide05 .bcg-color {
        background: linear-gradient(to right, #71B26C 0%, #71B26C 37%,#C6C557 100%);
    }
    #slide05 .primary {
        color:#71B26C;
    }
    #slide06 .bcg-color {
        background: linear-gradient(to right, #AE87AC 0%, #AE87AC 37%,#72B6D6 100%);
    }
    #slide06 .primary {
        color:#AE87AC;
    }
    #slide07 .bcg-color {
        background: linear-gradient(to right, #E7395C 0%, #E7395C 37%,#F74C42 100%);
    }
    #slide07 .primary{
        color:#E7395C;
    }
    #slide08 .bcg-color{
        background: linear-gradient(to right, #246C9D 0%, #246C9D 37%,#30B5C0 100%);
    }
    #slide08 .primary{
        color:#246C9D;
    }
    #slide09 .bcg-color{
        background: linear-gradient(to right, #E7395C 0%, #E7395C 37%,#F74C42 100%);
    }
    #slide09 .primary{
        color:#E7395C;
    }

    .slide01-active .nav-active {border-color: #FC866E;}
    .slide01-active .nav-items .active a {background-color:#FC866E;}
     
    .slide02-active .nav-active {border-color: #6C45BB;}
    .slide02-active .nav-items .active a {background-color:#6C45BB;}
     
    .slide03-active .nav-active {border-color: #2D5978;}
    .slide03-active .nav-items .active a {background-color:#2D5978;}
     
    .slide04-active .nav-active {border-color: #B33259;}
    .slide04-active .nav-items .active a {background-color:#B33259;}
     
    .slide05-active .nav-active {border-color: #71B26C;}
    .slide05-active .nav-items .active a {background-color:#71B26C;}
     
    .slide06-active .nav-active {border-color: #AE87AC;}
    .slide06-active .nav-items .active a {background-color:#AE87AC;}
     
    .slide07-active .nav-active {border-color: #E7395C;}
    .slide07-active .nav-items .active a {background-color:#E7395C;}
     
    .slide08-active .nav-active {border-color: #246C9D;}
    .slide08-active .nav-items .active a {background-color:#246C9D;}
     
    .slide09-active .nav-active {border-color: #E7395C;}
    .slide09-active .nav-items .active a {background-color:#E7395C;}
    
}

@media only screen and (min-width: 1140px) {
    .number {
      font-size: 200px;
      line-height: 200px;
    }
    #slide01 .number {
      font-size: 250px;
    }
    .title,
    #slide09 .number {
      font-size: 100px;
      line-height: 100px;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}